
.product-services-container{
    background-color: skyblue;
    margin-top: -20px;
}

.button-services{
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
}

.button-heading{
    color: white;
    font-weight: lighter;
}
.button-services:hover{
    color:orange
}

.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}